@import "mixins.scss";

.catalog__heading {
  @include font-main-regular(36px, 36px);

  margin: 31px 22px 36px;
  color: $color-text-main;
}

.catalog__list {
  @include list-reset;

  padding: 0 0 25px 0;
}

.catalog__show-more {
  padding: 25px 20px 27px;
}
