@import "mixins.scss";


.catalog-aux__heading {
  @include font-main-regular(24px, 24px);

  margin: 30px 0;
  color: $color-text-main;
}

.catalog-aux__list {
  padding: 0;
  list-style: none;
}

.catalog-aux__item {
  padding-top: 14px 17px;
}
