@import "mixins.scss";

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  @include font-main-regular(20px, 20px);

  position: relative;
  display: block;
  padding: 24px;
  box-sizing: border-box;
  color: $color-text-main;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  &::after {
    @include pseudo;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #ebebeb;
  }
}
