@import "variables.scss";

.socials {
  @include list-reset;

  display: flex; // TODO: дополнительные стили для нормального позиционирования ссылок
  justify-content: center; // TODO: возможно, space-between будет лучше
  background-color: $color-bg;
}

// TODO: удалить сами картинки из source/img

.socials__item {
  &--vk {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 17px;
    height: 17px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}
