@import "variables.scss";

.build-program__heading-holder {
  background-color: $color-leaf;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;
}
