@import "variables.scss";
@import "mixins.scss";

.catalog-variants__link {
  @include font-main-regular(16px, 16px);
  @include capitalized;

  color: $color-text-stressed;
  text-decoration: none;

  &::after {
    @include pseudo;

    display: inline-block;
    margin-left: 12px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}
