@import "variables.scss";

@mixin font($font-family, $font-size, $line-height, $font-weight, $font-style) {
  font: #{$font-style} #{$font-weight} #{$font-size}/#{$line-height} $font-family, "Arial", sans-serif;
}

@mixin font-main-regular($font-size, $line-height, $font-weight: normal, $font-style: normal) {
  @include font($font-family-main, $font-size, $line-height, $font-weight, $font-style);
}

@mixin font-aux-regular($font-size, $line-height, $font-weight: normal, $font-style: normal) {
  @include font($font-family-aux, $font-size, $line-height, $font-weight, $font-style);
}

@mixin pseudo {
  display: table;
  content: "";
}

// Вопрос: очень долго думал как в будущем делать эту кнопку - инлайновым элементом с padding-ами или блочиным элементом?
.button {
  @include font-main-regular(14px, 18px);

  background-color: $color-button;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &--cta {
    background-color: $color-button-cta;
  }
}
