.real-case__item-wrapper {
  display: flex;

  &--important {
    flex-direction: column-reverse;
    border: 1px solid #000000; // TODO: удалить нижний край и, возможно, переделать на тени
  }

  &--aux {
    flex-direction: row;
    justify-content: flex-start;
  }
}
