// TODO: удалить сами картинки из source/img

.socials__item {
  &--vk {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 17px;
    height: 17px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}
