// 1. Возможно, здесь не самые удачные названия переменных для цветов. Что-то брал из Zeplin (сгенерированные custom properties),
// чтобы придумывал сам. Буду рад рекомендациям.
// 2. Принято ли цвета выделять в отдельный миксин типа colors.scss?

$color-leaf: #68b738;
$color-text-stressed: #111111;
$color-text-plain: #444444;
$font-family-main: "Oswald";
$font-family-aux: "Arial"; // Arial MT в Zeplin - это лишь маркетинговое название Arial.
