// 1. Возможно, здесь не самые удачные названия переменных для цветов. Что-то брал из Zeplin (сгенерированные custom properties),
// чтобы придумывал сам. Буду рад рекомендациям.
// 2. Принято ли цвета выделять в отдельный миксин типа colors.scss?

// Названия исходных цветов взяты из styleguide
$black-two: #111111;
$leaf: #68b738;
$white-three: #f2f2f2;
$greyish-brown: #444444;

$color-text-main: $black-two;
$color-text-aux: $greyish-brown;
$color-bg: $white-three;
$color-button: $white-three;
$color-button-cta: $leaf;

$font-family-main: "Oswald";
$font-family-aux: "Arial"; // Arial MT в Zeplin - это лишь маркетинговое название Arial.
